<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Search</title>
    <style>
            [v-cloak] {
                display: none;
            }
    </style>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <!-- <link rel="stylesheet" type="text/css" href="demo.css" /> -->
    <link rel="stylesheet" type="text/css" href="set2.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Bangers|Fredericka+the+Great|Life+Savers|Luckiest+Guy|McLaren|Quicksand" rel="stylesheet"></head>


<body>
    <div id="app" v-cloak id="page-body" class="container">
        <header class="header">
            <div id="title">
                Books & Books
            </div>
            <div class="text-box">
                <form @submit.prevent="search">
                    <!-- <input type="text" v-model="query" placeholder="Enter Book Name" required> -->
                    <section class="content">
                        <span class="input input--nariko">
                            <input type="text" v-model="query" placeholder="" required class="input__field input__field--nariko" />
                            <label class="input__label input__label--nariko" for="input-20">
                                <span class="input__label-content input__label-content--nariko">Enter Book Name</span>
                            </label>
                        </span>
                        <br />
                        <button id="search-btn" type="submit" :disabled="processing">
                            <span v-if="!processing">Search</span>
                            <span v-else>Searching...</span>
                        </button>
                    </section>
                </form>

            </div>
        </header>
        <div class="cards flex-container" v-if="items.length > 0">
            <div class="demo-3">
                <h1 id="title">Results</h1>
            </div>

            <div class="cards__item flex-item" v-for="item in items">
                <div class="card">
                    <div class="card__image">
                        <img v-if="'imageLinks' in item.volumeInfo && 'thumbnail' in item.volumeInfo.imageLinks" :src="item.volumeInfo.imageLinks.thumbnail"
                            :alt="item.volumeInfo.title">
                    </div>
                    <div class="card__content">
                        <div class="card__title">Title: {{ item.volumeInfo.title }}</div>
                        <div class="card__text" v-if="getAuthorNames(item.volumeInfo.authors) != ''"> Author: {{
                            getAuthorNames(item.volumeInfo.authors) }}</div>
                        <p class="card__text" v-if="'subtitle' in item.volumeInfo && item.volumeInfo.subtitle != ''">
                            Subtitle: {{ item.volumeInfo.subtitle }}</p>
                        <a target="_blank" :href="item.volumeInfo.infoLink">
                            <button class="btn btn--block card__btn">View more about this book</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                query: '',
                items: [],
                processing: false
            },
            methods: {
                getAuthorNames(authors) {
                    if (authors)
                        return authors.join(", ")
                    return ""
                },
                search: function () {
                    var self = this
                    if (this.query == "") {
                        alert("Enter Search Query.")
                        return
                    }

                    this.processing = true
                    this.items = []
                    axios.get("https://www.googleapis.com/books/v1/volumes?q=" + this.query)
                        .then(function (response) {
                            self.items = response.data.items
                            self.processing = false
                        }).catch(function () {
                            self.processing = false
                        })
                }
            }
        })
    </script>
</body>

</html>