@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);

*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: @gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  vertical-align: middle;
}

#title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 6em;
    transform: rotate(-14deg);
    padding-top: 10%;
    padding-left: 26%;
    text-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
}

.btn {
  background-color: white;
  border: 1px solid @gray-light;
  color: @gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  width: 400px;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  margin: 16px auto 0 auto;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);  
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}

.card__title {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

#page-body {
    margin: auto;
}

#results {
    padding: 10px 40px;
    border: 10px double rgb(97, 94, 94);
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.425);
    font-family: Quicksand, sans-serif;
}

#book-container {
    transform: rotate(20deg);
    margin-left: 65%;
    padding-top: 131px;
}

#book {
    width: 230px;
    flex-wrap: wrap;
}

#search-btn {
    height: 40px;
    text-transform: uppercase;
    background: white;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    font-size: 70.25% !important;
}

.header {
    height: 66vh;
    background-image: 
    linear-gradient(to right bottom, 
   rgba(247, 165, 215, 0.8),
   rgba(217, 30, 77, 0.8)),
   url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    position: relative; 
}

.text-box {
    position: absolute;
    top: 35%;
    left: 39%;
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.btn:focus {
    border: 1px solid palevioletred !important;
    box-shadow: 0 0 3px palevioletred !important;
    -moz-box-shadow: 0 0 3px palevioletred !important;
    -webkit-box-shadow: 0 0 3px palevioletred !important;
    }
    
.btn:focus {
    outline-offset: 0px !important;
    outline: none !important;
    }




// MEDIA QUERIES

// Extra Small Styles
@media (max-width: 767px) {
    .flex-container
    {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .flex-item {
        width: 100%;
    }
    .text-box {
        left: 9%;
    }
}
